* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%; 
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden; 
}

/*Overlay Menu*/

.Overlay_Menu{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 15;
    display: none; /* Initially hidden */
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items vertically */
    align-items: center;
}

.Overlay_Menu_Button{
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
    cursor: pointer;
}

.Overlay_Menu_Exit{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 50px;
}

.Overlay_Menu_Button:hover, .Overlay_Menu_Exit:hover{
    color: #747474;
}

/*Header Styles*/

.Website_Header_Wrapper {
    background-color: rgba(255, 255, 255, 0);
    padding: 30px;
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Website_Body_Wrapper {
    width: 100%;
    position: relative;
    overflow-x: hidden; 
}

.Header_Button_S1, .Header_Button_S2, .Header_Button_S3 {
    font-weight: 490;
    font-size: 32px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease-in-out;
    z-index: 10;
}

.Header_Button_S1 {
    width: 250px;
    height: 100px;
}

.Header_Button_S1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.Header_Button_S2, .Header_Button_S3 {
    width: 300px;
    height: 100px;
}

.Header_Button_S2:hover, .Header_Button_S3:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}



/* Base styles for the Header_Menu_Button */
.Header_Menu_Button {
    display: none; /* Hide by default */
    margin-right: auto;
    position: relative;
    top: 0;
    left: 0;
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    margin-left: 20px; /* Remove default button padding */
    align-items: center; /* Center align the SVG vertically */
    cursor: pointer; /* Change cursor to pointer */
}

.SVG_Container_4 {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0; 
}


.SVG_Container_4 svg {
    background: none; 
    border: none; 
}

@media screen and (max-width: 1000px) {
    .Website_Header_Wrapper {
        background-color: rgba(255, 255, 255, 0) !important;
        padding: 30px;
        width: 100%;
        height: 8%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Header_Button_S3 {
        font-weight: 490;
        font-size: 32px;
        border-radius: 50px;
        border: none;
        background: rgba(255, 255, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 100ms ease-in-out;
        z-index: 10;
        position: relative; /* Ensure it's positioned relatively within the flex container */
        margin-left: auto; /* Ensure it aligns to the right */
    }

    .Header_Button_S1, .Header_Button_S2 {
        display: none;
    }

    #vanta-bg {
        display: none;
    }

    .SVG_Container_4, .Header_Menu_Button {
        display: flex;
    }

    .Prizes_Page{
        height: auto !important;
    }

    .Learn_More_Button{
        height: 80px !important;
        width: 300px !important;
        bottom: 60px !important;
    }

}

@media screen and (max-width: 800px) {
    .About_Page_Description {
        font-size: 24px !important;
        left: 10px !important;
        padding-inline-end: 10px !important;
    }

    .About_Page_Title, .Tokenomics_Page_Title, .Socials_Page_Title, .Prizes_Page_Title {
        left: 10px !important;
        font-size: 40px !important;
    }

    .Socials_Icons {
        margin: 150px auto 0 auto !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 0 !important; 
    }

    .Top_Button{
        bottom: 30px !important;
    }

    .Welcome_Page_Container {
        top: 70px !important;
        left: 0 !important;
    }

    .Expanding_Box_1, .Expanding_Box_2, .Expanding_Box_3 {
        font-size: 20px !important;
    }



}


@media screen and (max-width: 480px) {

    .Website_Header_Wrapper {
        background-color: white;
        padding: 15px;
        width: 100%;
        height: 7%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Welcome_Page_Buy_Button {
        height: 80px !important;
        width: 300px !important;
    }

    .Welcome_Page_Subtitle {
        font-size: 28px !important;
    }

    .Header_Button_S3 {
        width: 180px !important;
        height: 60px !important;
        background-color: black;
        color: white;
        font-size: 20px;
        
    }

    .Header_Button_S3:hover {
        background-color: #747474;
    }

    .About_Page_Title {
        top: -75px !important;
        z-index: 15px !important;
    }

    .About_Page_Description {
        top: -55px !important;
        margin-right: 10px;
        font-size: 20px ;
    }

    .SVG_Container_4 {
        height: 30px;
        width: 30px;
        z-index: 15px !important;
    }

    .Header_Menu_Button{
        z-index: 15px !important;
    }

    .About_Page{
        height: 700px !important;
    }

    .Expanding_Box_1, .Expanding_Box_2, .Expanding_Box_3 {
        font-size: 18px !important;
        font-weight: 420 !important;
    }

    .Socials_Page{
        height: 500px !important;
    }

    #vanta-bg {
        display: inline;
        z-index: -1px !important;
    }


    .SVG_Container_3 {
        height: 80px !important;
        width: 80px !important;
    }

    .Top_Button {
        left: calc(50% - 40px) !important;
    }

    .About_Page_Title, .Prizes_Page_Title, .Socials_Page_Title, .Tokenomics_Page_Title{
        font-size: 36px !important;
    }

    .Learn_More_Button{
        left: calc(50%-150px) !important;
    }
}


/*Page Styles*/

.Welcome_Page, .About_Page{
    width: 100%;
    height: 850px;
    position: relative;
    padding: 0;
}



.Prizes_Page {
    width: 100%;
    height: 1100px;
    padding: 0;
    background-color: black; 
    color: white;
    position: relative; 
    transition: height 300ms ease-in-out;
}

.Socials_Page {
    width: 100%;
    height: 700px;
    padding: 0;
    background-color: black; 
    color: white;
    position: relative; 
    transition: height 300ms ease-in-out;
}

.Tokenomics_Page{
    height: 500px;
    position: relative;
    width: 100%;
    transition: height 300ms ease-in-out;
}

/*Welcome Page Styles*/

.About_Page_Title, .Prizes_Page_Title {
    top: 50px;
    position: relative;
    left: 100px;
    font-size: 64px;
    z-index: 15px;
}


.Welcome_Page_Title {
    left: 100px;
    font-size: 64px;
    margin-top: 30px;
}

.Welcome_Page_Container {
    height: auto;
    width: auto;
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: 10;
}

.Welcome_Page_Subtitle {
    font-size: 40px;
    font-weight: normal;
    margin-top: 30px;
}

.Welcome_Page_Buy_Button {
    font-weight: 490;
    font-size: 32px;
    height: 100px;
    width: 400px;
    border-radius: 50px;
    border: 3px solid black;
    background-color: white;
    margin-top: 30px;
}

.Welcome_Page_Buy_Button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#vanta-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    z-index: -1px;
}



/*About Page Styles*/

.About_Page_Description {
    position: relative;
    top: 100px;
    left: 100px;
    font-size: 28px;
    box-sizing: border-box;
    padding-inline-end: 200px;
    z-index: 15px;
}

/*Prizes Page Styles*/

.SVG_Container_1 {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: auto; /* Ensure the height adjusts to maintain aspect ratio */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    max-height: 150px;
}

svg {
    width: 100%;
    height: auto;
    display: block;
}

/* Slideshow container */
.slideshow-container {
    top: 80px;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption text */
  .text {
    height: 50px;
    width: 100px;
    background-color: rgba(0,0,0,0.8);
    color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 80px 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #747474;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  .Learn_More_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 490;
    font-size: 32px;
    height: 100px;
    width: 400px;
    border-radius: 50px;
    border: 3px solid white;
    background-color: black;
    left: 100px;
    position: relative;
}

.Learn_More_Button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


/*Tokenomics Page Styles*/

.Tokenomics_Page_Title{
    top: 100px;
    position: relative;
    left: 100px;
    font-size: 64px;
}

.SVG_Container_2 {
    position: absolute;
    width: 200px;
    height: 200px; 
    top: -80px;
    left: calc(50% - 100px);
}



.Expanding_Box_1, .Expanding_Box_2, .Expanding_Box_3 {
    height: 100px;
    width: 30%; 
    border-radius: 20px;
    border: 3px solid black;
    font-size: 32px;
    font-weight: 450;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
    position: absolute;
    z-index: 1;
}

.Expanding_Box_1 {
    left: 0;
}

.Expanding_Box_2 {
    left: calc(50% - 15%); 
}

.Expanding_Box_3 {
    right: 0; 
}

.Box_Container {
    position: relative;
    margin: 120px auto 0 auto;
    height: auto;
    width: 90%;
}

.Tokenomics_Title {
    display: block;
    text-align: center;
    width: 100%;
}

.Tokenomics_Content {
    display: none;
    text-align: center;
    width: 100%;
}


/*Socials Page Styles*/

.Socials_Page_Title {
    margin-inline-end: 100px;
    top: 100px;
    position: relative;
    left: 100px;
    font-size: 64px;
}

.Socials_Icons {
    gap: 5%;
    display: flex;
    justify-content: flex-start; 
    position: relative;
    width: 100%;
    margin: 160px auto 0 auto;
    padding-left: 100px; 
}

.SVG_Container_3 {
    height: 100px;
    width: 100px;
    transition: fill 300ms ease-in-out; 
    cursor: pointer;
}

.SVG_Container_3 svg path {
    fill: white;
    transition: fill 300ms ease-in-out; 
}

.SVG_Container_3:hover svg path {
    fill: #747474; 
}

.Top_Button {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 50px);
}


